html {
	box-sizing: border-box;
	background-color: #f9e45b;
	font-family: 'Barlow', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

main {
	width: 90%;
	margin: auto;
}

img {
	width: 100%;
	top: 0;
}

h2, h3 {
	font-weight: 600;
}

p:first-child {
	color: #2196f3;
}

figure img {
	width: 80%;
}

.changePic {
	box-shadow: 0 8px 8px 0 #9c27b0ab, 0 16px 15px 0 #673ab77d;
}
