html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: salmon;
	font: 1.5em 'Patrick Hand', cursive;
}

.container {
	width: 90vw;
	margin: auto;
	display: block;
}

input, label, textarea {
	width: 45%;
	margin: auto;
	display: block;
	padding: 1% 0 1% 0;
	font: 0.875em 'Patrick Hand', cursive;
}

p {
	width: 45%;
	margin: auto;
	padding: 1% 0 1% 0;
}

#comments {
	color: silver;
	font: 0.875em 'Patrick Hand', cursive;
}

#submit {
	color: white;
	width: 25%;
	margin-top: 5%;
	font: 0.875em 'Patrick Hand', cursive;
	background-color: salmon;
	border: 5px dotted white;
}

#submit:hover {
	color: salmon;
	background-color: white;
}
